[nix]
channel = "stable-25_05"

[workflows]
runButton = "Garden Tour Main"

[[workflows.workflow]]
name = "Start Tour App"
author = 43332044
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Start Garden Tour"
author = 43332044
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Static Server"
author = 43332044
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Garden Tour Main"
author = 43332044
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
